.heading 
{
	font-size:35px;
	color:white;
	padding:20px;
	margin:30px;
	border: 10px solid white;
	border-radius:5px;
}

#status 
{
	font-size: 30px;
}

#button2 {
	font-size:18px;
	float:left;
	margin-left:115px;
	padding:50px;
	
}